{% extends 'base_template.html' %}

{% block content %}
<div class="container">
    <h4>Edite el Modelo</h4>
    <form action="" method="post">
        <label for="modelo">Modelo</label>
        <input type="text" name="modelo" class="form-control mb-2" value="{{ modelo.modelo }}" required>
        
        <label for="anioLanzamiento">Año de Lanzamiento</label>
        <input type="text" name="anioLanzamiento" class="form-control mb-2" value="{{ modelo.anioLanzamiento }}" required>
        
        <label for="sistemaOperativo">Sistema Operativo</label>
        <input type="text" name="sistemaOperativo" class="form-control mb-2" value="{{ modelo.sistemaOperativo }}" required>
        
        <button type="submit" class="btn btn-success">Editar</button>
    </form>
</div>
{% endblock %}
