{% extends 'base_template.html' %}

{% block content %}
<div class="container">
    <h4>Edite el Accesorio</h4>
    <form action="" method="post">
        <label for="nombre">Nombre</label>
        <input type="text" name="nombre" class="form-control mb-2" value="{{ accesorio.nombre }}" required>
        
        <label for="descripcion">Descripción</label>
        <input name="descripcion" class="form-control mb-2" value="{{ accesorio.descripcion }}" required>
        
        <label for="precio">Precio</label>
        <input type="text" name="precio" class="form-control mb-2" value="{{ accesorio.precio }}" required>
        
        <button type="submit" class="btn btn-success">Editar</button>
    </form>
</div>
{% endblock %}
