{% extends 'base_template.html' %}

{% block content %}
<div class="container">
    <h4>Edite la Característica</h4>
    <form action="" method="post">
        <label for="nombre">Nombre</label>
        <input type="text" name="nombre" class="form-control mb-2" value="{{ caracteristica.nombre }}" required>
        
        <label for="descripcion">Descripción</label>
        <input type="text" name="descripcion" class="form-control mb-2" value="{{ caracteristica.descripcion }}" required>
        
        <button type="submit" class="btn btn-success">Editar</button>
    </form>
</div>
{% endblock %}
