{% extends 'base_template.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h4>Listado de Empleados Inactivos</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Puesto</th>
                        <th>Sucursal</th>
                        <th>Restaurar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for empleado in empleados %}
                    <tr>
                        <td>{{ empleado.nombre }}</td>
                        <td>{{ empleado.puesto }}</td>
                        <td>{{ empleado.sucursal.nombre }}</td>
                        <td>
                            <form action="{{ url_for('restaurar_empleado', id=empleado.id) }}" method="post">
                                <button type="submit" class="btn btn-warning">Restaurar</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
