{% extends 'base_template.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-6">
            {% include 'nav_equipos.html' %}
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <h4>Ingresa una Nueva Marca</h4>
            <form action="" method="post">
                <label for="nombre">Nombre</label>
                <input type="text" name="nombre" class="form-control mb-2" placeholder="Nombre de la Marca" required>
                <label for="fabricante">Fabricante</label>
                <select name="fabricante" id="" class="form-control mb-2" required>
                    {% for fabricante in fabricantes %}
                        <option value="{{ fabricante.id }}">{{ fabricante.nombre }}</option>
                    {% endfor %}
                </select>
                <button type="submit" class="btn btn-success">Guardar</button>
            </form>
        </div>
        <div class="col-8">
            <h4>Listado de Marcas</h4>
            <table class="table">     
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Fabricante</th>
                        <th>Editar</th>
                        <th>Borrar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for marca in marcas %}
                    <tr>
                        <td>{{ marca.nombre }}</td>
                        <td><a href="{{ url_for('marcas_by_fabricante', id=marca.fabricante.id) }}">{{ marca.fabricante.nombre }}</a></td>
                        <td><a href="{{ url_for('marca_editar', id=marca.id) }}" class="btn btn-success">Editar</a></td>
                        <td>
                            <form action="{{ url_for('eliminar_marca', id=marca.id) }}" method="post" onsubmit="return confirm('¿Estás seguro de que quieres borrar esta marca?');">
                                <button type="submit" class="btn btn-danger">Borrar</button>
                            </form>
                        </td>                    
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12">
            <a href="{{ url_for('marcas_inactivas') }}" class="btn btn-secondary mb-2">Ver Marcas Inactivas</a>
        </div>
    </div>    
</div>
{% endblock %}
