<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marcas</title>
</head>
<body>
    <h1>Lista de todas las Marcas que ofrecemos</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
            </tr>
        </thead>
        <tbody>
            {% for marca in marcas %}
            <tr>
                <td>{{ marca.id }}</td>
                <td>{{ marca.nombre }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ url_for('main.index') }}">Volver al inicio</a>
</body>
</html>
